body {
    margin:0
}

.div {
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.div-2 {
    color: #fff;
    
    font-size: 30px;
    font-weight: 700;
    align-self: center;
    text-wrap: nowrap;
    margin: 159px 0 0 -25px;
}
@media (max-width: 991px) {
    .div-2 {
    margin-top: 40px;
    text-wrap: initial;
    }
}
.div-3 {
    align-self: center;
    display: flex;
    width: 528px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 67px 0 0 -15px;
}
@media (max-width: 991px) {
    .div-3 {
    margin-top: 40px;
    }
}
.div-4 {
    color: #fff;
    
    font-size: 25px;
    font-weight: 500;
}
.div-5 {
    color: #d7d5d5;
    
    font-size: 15px;
    font-weight: 400;
    align-self: start;
    margin-top: 19px;
    max-width: 502px;
}
@media (max-width: 991px) {
    .div-5 {
    max-width: 100%;
    }
}
.div-6 {
    color: #fff;
    
    font-size: 28px;
    font-weight: 500;
    align-self: start;
    margin-top: 69px;
    max-width: 271px;
}
@media (max-width: 991px) {
    .div-6 {
    margin-top: 40px;
    }
}
.div-7 {
    align-self: start;
    margin-top: 39px;
    width: 100%;
}
@media (max-width: 991px) {
    .div-7 {
    max-width: 100%;
    }
}
.div-8 {
    gap: 20px;
    display: flex;
}
@media (max-width: 991px) {
    .div-8 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    }
}
.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 0px;
}
@media (max-width: 991px) {
    .column {
    width: 100%;
    }
}
.div-9 {
    display: flex;
    flex-direction: column;
}
@media (max-width: 991px) {
    .div-9 {
    margin-top: 40px;
    }
}
.div-10 {
    color: #cbcbcb;
    
    font-size: 19px;
    font-weight: 500;
}
.year {
    color: #cbcbcb;
    
    font-size: 19px;
    font-weight: 500;
    margin-top: 88px;
}
@media (max-width: 991px) {
    .year {
    margin-top: 40px;
    }
}
.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 73%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-2 {
    width: 100%;
    }
}
.div-18 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
@media (max-width: 991px) {
    .div-18 {
    margin-top: 40px;
    }
}
.div-19 {
    color: #fff;
    
    font-size: 24px;
    font-weight: 500;
    align-self: start;
    max-width: 285px;
}
.school-desc {
    color: #c4c4c4;
    
    font-size: 18px;
    font-weight: 300;
    align-self: start;
    margin-top: 6px;
    max-width: 270px;
}
.school-name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-top: 57px;
}
@media (max-width: 991px) {
    .school-name {
    margin-top: 40px;
    }
}
.div-35 {
    color: #fff;
    
    font-size: 28px;
    font-weight: 500;
    align-self: start;
    margin-top: 97px;
    max-width: 271px;
}
@media (max-width: 991px) {
    .div-35 {
    margin-top: 40px;
    }
}
.div-36 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 51px;
    width: 100%;
    flex-direction: column;
}
@media (max-width: 991px) {
    .div-36 {
    max-width: 100%;
    margin-top: 40px;
    }
}
.div-37 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
}
@media (max-width: 991px) {
    .div-37 {
    max-width: 100%;
    }
}
.proj-title {
    color: #fff;
    
    font-size: 24px;
    font-weight: 400;
    text-decoration-line: underline;
    align-self: start;
}
.proj-desc {
    color: #c4c4c4;
    
    font-size: 18px;
    font-weight: 300;
    align-self: start;
    margin-top: 15px;
}
@media (max-width: 991px) {
    .proj-desc {
    max-width: 100%;
    }
}
.div-40 {
    align-self: stretch;
    display: flex;
    margin-top: 87px;
    flex-direction: column;
}
@media (max-width: 991px) {
    .div-40 {
    max-width: 100%;
    margin: 40px 5px 0 0;
    }
}
.div-43 {
    align-self: stretch;
    display: flex;
    margin-top: 89px;
    flex-grow: 1;
    flex-direction: column;
}
@media (max-width: 991px) {
    .div-43 {
    max-width: 100%;
    margin: 40px 5px 0 0;
    }
}
.div-46 {
    color: #fff;
    
    font-size: 26px;
    font-weight: 500;
    align-self: start;
    margin-top: 102px;
    max-width: 271px;
}
@media (max-width: 991px) {
    .div-46 {
    margin-top: 40px;
    }
}
.div-47 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    margin-top: 35px;
    width: 198px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
}
.contact {
    color: #fff;
    
    font-size: 20px;
    font-weight: 400;
}