body {
    margin: 0;
}

.div {
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.div-2 {
    align-self: center;
    display: flex;
    margin-top: 151px;
    width: 100%;
    max-width: 312px;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-2 {
        margin-top: 40px;
    }
}

.div-3,
.subtitle,
.work_experience,
.div-9 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

.work_experience{
    align-self: start;
    white-space: nowrap;
    margin-top: 40px;
    margin-bottom: 20px;
}

.div-3 {
    align-self: end;
    margin-right: 20px;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .div-3 {
        margin-right: 10px;
        white-space: normal;
    }
}

.div-4 {
    align-self: end;
    display: flex;
    margin-top: 54px;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-4 {
        margin-top: 40px;
    }
}

.subtitle {
    align-self: start;
    white-space: nowrap;
    margin-top: 5px;
}

@media (max-width: 991px) {
    .subtitle {
        white-space: normal;
    }
}

.about-me,
.work-heading {
    color: #d7d5d5;

    font-size: 15px;
    font-weight: 400;
    align-self: start;
    margin-top: 2px;
}

.text-wrapper, .work-heading {
    position: relative;
    align-self: stretch;
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.results-container, .results-container-2 {
    display: flex;
    flex-direction: column;
}
